<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AuthDemo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>Auth demo</h1>
{% if result %}
    <h3>{{result}}</h3>
{% endif %}
<form action='/alice_server_get_macaroon'>
    <input type="submit" value="Get Macaroon">
</form>
{% if macaroon %}
    <h3>Macaroon:</h3>
    {% autoescape false %}
        {{macaroon}}
    {% endautoescape %}

{% endif %}
<form action='/auth_server_login/{{caveat_key}}/{{identifier}}'>
    <input type="submit" value="Get discharge macaroon from Auth Server (Login)">
</form>

{% if discharge_macaroon %}
    <h3>Discharge Macaroon:</h3>
    {% autoescape false %}
        {{discharge_macaroon}}
    {% endautoescape %}
{% endif %}
<form action='/access_service'>
    <input type="submit" value="Try to access Service">
</form>
<br/>
<form action='/reset_cookies'>
    <input type="submit" value="Reset Cookies">
</form>
</body>
</html>