<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Auth Demo</title>
</head>
<body>
<h1>Auth demo</h1>
{% if result %}
    <h3>{{result}}</h3>
{% endif %}
<form action='/alice_server_get_macaroon'>
    <input type="submit" value="Get Macaroon">
</form>
{% if macaroon %}
    <h3>Macaroon:</h3>
    {% autoescape false %}
        {{macaroon}}
    {% endautoescape %}

{% endif %}
<br/>
<br/>
<form action='/auth_server_login' method="Post">
    Username:
    <input type="text" value="Bob" name="username" id="username">
    <br/>
    <input type="submit" value="Get discharge macaroon from Auth Server (Login)">
</form>

{% if discharge_macaroon %}
    <h3>Discharge Macaroon:</h3>
    {% autoescape false %}
        {{discharge_macaroon}}
    {% endautoescape %}
{% endif %}
<br/>
<br/>
<form action='/alice_server_access_service'>
    <input type="submit" value="Try to access Service">
</form>
<br/>
<form action='/reset_cookies_auth_server'>
    <input type="submit" value="Reset Cookies / Auth Server">
</form>
</body>
</html>