<!doctype html>
<title>Hello from Flask</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>Login</h1>
<form action='/home' method="POST">
    <fieldset>
        Username:<br>
        <input type="text" name="username" value=""><br>
        Password<br>
        <input type="password" name="password" value=""><br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
<form action='/set_invalid_macaroon'>
    <input type="submit" value="Set invalid macaroon">
</form>

<form action='/home'>
    <input type="submit" value="Home">
</form>
</body>
